/* how it works */
.how-it-works h2 {
  margin-bottom: 25px;
}

.how-it-works .btn-book {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #BE102A;
  margin-top: 45px;
}

.how-it-works .btn-book:hover {
  background: linear-gradient(149.43deg, #E61030 0%, #BE102A 100%);
  color: #fff;
}

.how-it-works .btn-book:focus {
  background: transparent;
  color: #BE102A;
}

@media (min-width: 768px) {
  .how-it-works .btn-book {
    margin-left: auto;
    margin-right: auto;
  }
}

.steps {
  margin: 25px 0 15px;
}

@media (min-width: 768px) {
  .steps {
    margin: 50px 0 30px;
  }
}

.steps .step-item {
  position: relative;
}

/* .steps .step-item:hover .step-desc p {
  position: relative;
  opacity: 1;
} */

@media (min-width: 768px) {
  .steps .step-item {
    -webkit-box-shadow: 0px 5px 20px rgba(17, 19, 56, 0.05);
            box-shadow: 0px 5px 20px rgba(17, 19, 56, 0.05);
    border-radius: 5px;
  }
}

.steps .step-item:not(:last-child) {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .steps .step-item:not(:last-child) {
    margin: 0;
  }
}

.steps .step-desc {
  background: #fff;
  padding: 17px 0 15px;
}

@media (min-width: 768px) {
  .steps .step-desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 25px 1.56vw 30px;
  }
}

.steps .step-desc h3 {
  margin: 0;
}

.steps .step-desc p {
  opacity: .5;
}

@media (min-width: 768px) {
  .steps .step-desc p {
    position: absolute;
    opacity: 0;
  }
}

.steps figure {
  position: relative;
  height: 175px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .steps figure {
    height: 300px;
  }
}

/* @media (min-width: 1190px) {
  .steps figure {
    height: 300px;
  }
} */

/* @media (min-width: 1441px) {
  .steps figure {
    height: 410px;
  }
} */

.steps figure img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}

.steps .counter {
  position: absolute;
  background: linear-gradient(149.43deg, #0065B3 0%, #005A9F 100%);
  border-radius: 50%;
  width: 116px;
  height: 116px;
  top: -58px;
  left: -58px;
}

.steps .counter span {
  font-family: 'Gilroy', serif;
  position: absolute;
  bottom: 17px;
  right: 29px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.slick-track::before,
.slick-track::after {
  content: none;
}

@media (min-width: 768px) {
  .slick-track {
    width: 100% !important;
    padding: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3.65vw;
  }
}
